.modal_wrapper {
    position: fixed; /*요소의 위치 지정 방법 static, relative, absolute, fixed, sticky등이 있음*/
    top: 0;
    left: 0;
    width : 100%;
    height : 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    background: white;
    padding: 24px 16px;
    border-radius: 4px;
    width: 320px;
}

.modal_box{
    font-weight: bold;
}

.closer{
    text-align: right;
}